{
  "login": {
      "username": "",
      "password": ""
  },
  "options":{
    "room": "",
    "language_file": "en",
    "customtext_trigger": ".",
    "welcome_users": true,
    "http_port": 3000
  },
	"db": {
		"database": "",
		"username": "",
		"password": "",
		"host": "",
		"port": "3306"
	},
  "timelimit": {
    "enabled": true,
    "limit": 600
  },
  "afkremoval": {
    "enabled": true,
    "timeout": 3600,
    "kick": true
  },
  "cleverbot": {
    "enabled": true
  }
}
