{
  "login": {
      "username": "",
      "password": ""
  },
  "options":{
    "room": "",
    "language_file": "en",
    "customtext_trigger": ".",
    "welcome_users": true,
    "http_port": 3000,
    "room_state_file": true
  },
	"db": {
		"database": "",
		"username": "",
		"password": "",
		"host": "",
		"port": "3306"
	},
  "autoskip": {
    "history": {
      "enabled": true,
      "labeled": true,
      "time": 240
    }
  },
  "timelimit": {
    "enabled": true,
    "limit": 600
  },
  "afkremoval": {
    "enabled": true,
    "timeout": 3600,
    "kick": true,
    "kick_ignore_min_role": 3,
    "chat_ignore_phrase": "I am AFK at the moment"
  },
  "cleverbot": {
    "enabled": true
  },
  "apiKeys": {
    "wordnik": ""
  },
  "chatfilter": {
    "enabled": false,
    "dubtrackroom": true,
    "youtube": true,
    "word_blacklist": {
      "enabled": false,
      "words": []
    }
  },
  "restorePositions": {
    "enabled": true
  }
}
